[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch TerminalEmulator
Icon=/session/Background/téléchargement.png
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Terminal Emulator
Name[fr]=Émulateur de Terminal
Comment=Use the command line
Comment[fr]=Utiliser la ligne de commande
X-XFCE-Source=file:///usr/share/applications/exo-terminal-emulator.desktop
Path=
