[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/linkmat/Bureau/Intellij.jar]
row=3
col=0

[/home/linkmat/Bureau/ubuntu-17.10-desktop-amd64.iso]
row=8
col=0

[/home/linkmat/Bureau/settings.jar]
row=4
col=0

[/home/linkmat/Bureau/arch-anywhere-2.2.9-x86_64.iso]
row=6
col=0

[Corbeille]
row=0
col=0

[/]
row=1
col=0

[/home/linkmat]
row=2
col=0

