[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/linkmat/Bureau/guide-v28b]
row=1
col=0

[/home/linkmat/Bureau/anarchy-1.0.0-x86_64.iso]
row=0
col=0

[/home/linkmat/Bureau/Nouveau fichier]
row=2
col=0

